*{
    margin: 0;
    padding: 0;
}

/*Area de menu*/
body{
    background-color: antiquewhite;
}

#cabecalho{
    text-align: center;
    padding: 20px;
    background-color: #D64242;
}

h1{
    font-family: initial;
}

span{
    color: lavender;
}

ul {
    display: flex;
    justify-content: center;
    font-style: inherit;

}

li, a {
    margin-right: 70px;
    padding-top: 30px;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    background-color: blanchedalmond;
    text-decoration: none;
    padding: 10px;
}

/*------------------------------------------------------*/

h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

#formulario{
    position: absolute;
    left: 450px;
    top: 250px;
    width: 350px;
    height: 150px;
    padding: 30px;
    background-color: #D64242;
    border-radius: 10px;
}

.email{
    padding-bottom: 30px;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.senha{
    padding-bottom: 20px;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    

}

.login{
    padding-top: 5px;
    padding-left: 150px;
}

#login{
    padding: 5px;
}

#linkcadastro{
    position: absolute;
    left: 480px;
    top: 550px;
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

#linkcadastro a:hover{
    text-decoration: underline;
    background-color: #D64242;
    text-decoration: none;
    padding: 10px;
}